﻿@model Application.Products.ProductDetailsDto

@{
    ViewData["Title"] = "Edit Product Page";
    await Html.RenderPartialAsync("_RenderPageMessages");
}
<div class="card">
    <div class="card-header">
        <h3>Product @Model.Name</h3>
    </div>

    <div class="card-body">
        <form asp-action="UpdateStock" method="post">
            <input type="hidden" asp-for="MerchantProductNo"/>
            <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">@Model.Name</dd>

                <dt class="col-sm-3">Ean</dt>
                <dd class="col-sm-9">@Model.Ean</dd>

                <dt class="col-sm-3">MerchantProductNo</dt>
                <dd class="col-sm-9">@Model.MerchantProductNo</dd>

                <dt class="col-sm-3">Price</dt>
                <dd class="col-sm-9">@Model.Price</dd>

                <dt class="col-sm-3">Brand</dt>
                <dd class="col-sm-9">@Model.Brand</dd>

                <dt class="col-sm-3">Color</dt>
                <dd class="col-sm-9">@Model.Color</dd>

                <dt class="col-sm-3">Size</dt>
                <dd class="col-sm-9">@Model.Size</dd>

                <dt class="col-sm-3">Description</dt>
                <dd class="col-sm-9">@Html.Raw(Model.Description)</dd>

                <dt class="col-sm-3">
                    <label for="stock">Stock</label>
                </dt>
                <dd class="col-sm-9">
                    <input type="number" min="0" asp-for="Stock" class="form-control form-control-sm w-25" id="stock" placeholder="Stock">
                </dd>
            </dl>
            <button class="btn btn-success btn-lg float-right" type="submit">Save</button>

        </form>
    </div>
</div>