﻿@using Domain.Orders
@model TopSoldProductsViewModel

@{
    ViewData["Title"] = "Top Sold Products";
}
<div class="mb-4 d-inline-flex align-items-center flex-wrap">
    <h2 class="mr-2">Top </h2>
    @{
        const string statusFilterParamName = "statusFilter";
        const string quantityFilterParamName = "quantityFilter";
        var hasStatusFilter = Model.CurrentStatusFilter != null;

        await Html.RenderPartialAsync("_FilterDropdown", new DropdownValues
        {
            ActiveValueName = Model.CurrentQuantityFilter.ToString(),
            AllDropdownEntries = Model.QuantityFilterValues
                .Select(v => (v.ToString(), v.ToString())),
            FilterParameterName = quantityFilterParamName,
            Url = Url.Action("TopSold"),
            OtherQueryParams = hasStatusFilter ?
                new[] {(statusFilterParamName, Model.CurrentStatusFilter.Value.ToString())} :
                Enumerable.Empty<(string,string)>()
        });
    }

    <h2 class="ml-2 mr-2">Products sold in orders with</h2>
    @{
        const string allStatusName = "Any Status";
        await Html.RenderPartialAsync("_FilterDropdown", new DropdownValues
        {
            ActiveValueName = hasStatusFilter ? $"{Model.CurrentStatusFilter.DisplayName} Status" : allStatusName,
            AllDropdownEntries = OrderStatus.List
                .OrderBy(l => l.Value)
                .Select(s => ($"{s.DisplayName} Status", s.Value.ToString()))
                .Prepend((allStatusName, "0")),
            FilterParameterName = statusFilterParamName,
            Url = Url.Action("TopSold"),
            OtherQueryParams = new[] {(quantityFilterParamName, Model.CurrentQuantityFilter.ToString())}
        });
    }
</div>


<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Ean</th>
        <th>Quantity Sold</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.ProductList)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Ean</td>
            <td>@product.QuantitySold</td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-merchantProductNo="@product.MerchantProductNo">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>