﻿@{
    ViewData["Title"] = "Home Page";
}

@{
    await Html.RenderPartialAsync("_RenderPageMessages");
}

<div class="jumbotron">
    <h1 class="display-4">Hello, Channel Engine!</h1>
    <p class="lead">This is a simple app utilizing Channel Engine API</p>
    <hr class="my-4">
    <p>It uses .net core and CQRS</p>
</div>