﻿@using Domain.Orders
@model OrderListViewModel

@{
    ViewData["Title"] = "Order List";
}
<div class="mb-4 d-inline-flex align-items-center flex-wrap">
    <h2 class="mr-2">Orders from </h2>
    @{
        const string allStatusName = "All Statuses";
        var hasFilter = Model.CurrentFilter != null;
        await Html.RenderPartialAsync("_FilterDropdown", new DropdownValues
        {
            ActiveValueName = hasFilter ? $"{Model.CurrentFilter.DisplayName} Status" : allStatusName,
            AllDropdownEntries = OrderStatus.List
                .OrderBy(l => l.Value)
                .Select(s => ($"{s.DisplayName} Status", s.Value.ToString()))
                .Prepend((allStatusName, "0")),
            FilterParameterName = "statusFilter",
            Url = Url.Action("List")
        });
    }
</div>


<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Order Date</th>
        <th>Status</th>
        <th>Number of products</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model.ListItems)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.OrderDate</td>
            <td>@order.OrderStatus.DisplayName</td>
            <td>@order.NumberOfProducts</td>
            <td>@order.Total</td>
        </tr>
    }
    </tbody>
</table>