﻿@model DropdownValues

<div class="dropdown show">
    <a class="font-weight-bold btn btn-lg btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.ActiveValueName
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var entry in Model.AllDropdownEntries.Where(n => Model.ActiveValueName != n.name))
        {
            <a class="dropdown-item" href="@Model.GetUrl(entry.value)">@entry.name</a>
        }
    </div>
</div>