﻿@using WebApp.Utilities
@functions {

    private static string ResolveAlertType(MessageType type)
    {
        return type switch
        {
            MessageType.Success => "success",
            MessageType.Error => "danger",
            MessageType.Info => "info",
            _ => "light"
            };
    }

}

@foreach (var message in Html.GetPageMessages())
{
    <div class="alert alert-@ResolveAlertType(message.MessageType) alert-dismissible fade show" role="alert">
        @message.Value
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}